<li>
  <div class="row">
    <div class="content-mess">
      <div class="<%= user.id == message.user_id ? 'message-sent' : 'message-received' %>">
        <%= message.body %>
      </div>
    </div>
  </div>
</li>
